{% extends "base_generic.html" %}

{% block content %}

<style>
    .caja{
      background-color: rgba(255, 255, 255, 0.774);
      border-style: solid;
      width: 80%;
      padding: 1%;
      margin: auto;
      margin-top: 80px;
      margin-block-end: 80px;
    }
  </style>

<div class="caja">
{% if instrumento_list %} 
<h1 style="color: black;">LISTA DE SUGERENCIAS: </h1>
<ul>

    {% for instrumento in instrumento_list %}
    <li>
        <a style="font-size: 25px ;"  href="{{ instrumento.get_absolute_url }}" > {{ instrumento.nombre}} </a>
        <strong><a style="font-size: 20px;"> / Descripción : </a> </strong> <a style="font-size: 20px ; color: black;"> {{instrumento.descripcion}}</a>
    </li>
    {% endfor %}

</ul>
{% else %}
    <p>No hay sugerencias.</p>
{% endif %}
</div>

{% endblock %}