{% extends "base_generic.html" %}



{% block content %}
{% load static %}
<style>
    .caja{
      background-color: rgba(255, 255, 255, 0.774);
      border-style: solid;
      width: 45%;
      padding: 1%;
      margin: auto;
      margin-top: 80px;
      margin-block-end: 80px;
    }
  </style>
<div class="caja">
<h1 style="color: black;">SUGERENCIA AGREGADA:  </h1>

<br>
<br>
<div class="container d-flex flex-column"> 
    <h1  style="color: black;"> Sugerencia: {{instrumento.nombre}}</h1>
    <h2 style="color: black;">  Descripcion : {{instrumento.descripcion}}</h2>
    <br>
        <a class="btn btn-primary" href="{% url 'instrumento_update' pk=instrumento.pk %}">Editar    <span class="glyphicon glyphicon-pencil"></span></a>
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'instrumento_delete' pk=instrumento.pk %}">Eliminar   <span class="glyphicon glyphicon-trash"></span></a>
</div>
</div>
</header>


{% endblock %}


