{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<style>
    .caja{
      background-color: rgba(255, 255, 255, 0.774);
      border-style: solid;
      width: 45%;
      padding: 1%;
      margin: auto;
      margin-top: 80px;
      margin-block-end: 80px;
    }
</style>
<div class="caja" align=center style="font-weight: 600; font-size: 30px;"> 
<h1 style="font-size: 40px;">Eliminar Sugerencia</h1>
<p>¿Estas seguro de querer eliminar esta sugerencia {{producto.nombre}}?</p>
<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="save btn btn-primary btn-xl" style="font-size: 30px;">Borrar Sugerencia</button>
</form>
</div>
<br>
{% endblock %}